.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

body {
  overflow-x: hidden;
  font-family: National2,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 16px;
  margin: 0;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}